@ubifile:registry=https://northamerica-northeast2-npm.pkg.dev/ubifile/ubifile-npm-repo/
//northamerica-northeast2-npm.pkg.dev/ubifile/ubifile-npm-repo/:always-auth=true
registry=https://registry.npmjs.org
